/* shared style */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body{ 
    max-width: 1600px;
    max-height: 837px;
    background: url("/images/developer.png"), url("/images/header_bg.png"), #FFF8F3;
    background-position: top left, bottom right;
    background-repeat: no-repeat;
   
    
}
.font-open-sans{
   
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 
}
.logo h2{
    font-size: 45px;
    font-weight: bolder;
}
.orange{
    
    color:#FD6E0A;
    
}
.btn{
   background-color: #FD6E0A;
   border: none;
   padding: 20px 35px;
   font-size: 20px;
   color: white;
   font-weight: bold;
   border-radius: 5px;
   cursor: pointer;
}

   

 /*main style */

 .font-open-sans header{
  
    
    padding-top: 50px;
    

    
   
}
nav{
    width: 71%;
    max-width:1140px ;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}
nav a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;

}

#banner{
    /* border: 1px solid red; */
    margin: 47px 2px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
     


}
 #banner .banner-content{
   max-width: 585px;
  
}
.banner-content h2{
    font-size: 45px;
    font-weight: 600px;
    color: #474747;
    margin-bottom:5px ;

}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
}
#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom:30px;

}
 #banner .banner-img img{
    max-width: 584px;
    vertical-align: middle;
   
}
