/* shared style */

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

   
   
    

.font-open-sans{
   
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 
}
.first-half{
    max-width: 1600px;
      
     background: url("/images/developer.png"), url("/images/header_bg.png"), #FFF8F3;
    background-position: 23px 38px, bottom right;
    background-repeat: no-repeat;
    


}
.logo h2{
    font-size: 45px;
    font-weight: bolder;
}
.orange{
    
    color:#FD6E0A;
    
}
.btn{
   background-color: #FD6E0A;
   border: none;
   padding: 20px 35px;
   font-size: 20px;
   color: white;
   font-weight: bold;
   border-radius: 5px;
   cursor: pointer;
}
.section-heading{
    max-width: 827px;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
     color: #757575;
     margin: 0 auto;
}
.section-heading h2{
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 30px;
    color: black;

}
   

 /*main style */

 .font-open-sans header{
  
    
    /* padding-top: 50px; */
     
    /* max-height: 837px; */
   
    
   
}
nav{
    width: 71%;
    max-width:1140px ;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}
nav a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;

}

#banner{
    /* border: 1px solid red; */
    max-width: 1370px;
    margin: 46px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
     


}
 #banner .banner-content{
   max-width: 585px;
  
}
.banner-content h2{
    font-size: 45px;
    font-weight: 600px;
    color: #474747;
    margin-bottom:5px ;

}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
}
#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom:30px;

}
 #banner .banner-img img{
    max-width: 584px;
    vertical-align: middle;
   
}
#about{
    width: 71%;
     max-width: 1140px;
    margin-top: 130px;
    margin-left: 230px;
}
#about .about-container{
    
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}
.about-container p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;

}
    .about-container h2{
        font-size: 35px;
    }

#about .about-container #about-info{
    display: flex ;
    justify-content: space-around;


}
#about-info p{

    font-size: 20px;
    color: #757575;
    /* margin-bottom: ; */
     line-height: 30px;
     margin-top: 30px;

}
#about-info h4{
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;

}
#skills{
    padding-top: 130px;

}
 .skill-container{
    width: 71%;
    max-width: 1140px;
    text-align: center;
    margin: 0 auto;
}
.section-heading p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    
    
}
.skill-box{
    display: flex;
    gap: 24px;
    text-align: left;
    margin-top: 50px;

}
.skill-box .skill-card{
    max-width: 267px;
    padding: 30px 33px 30px 30px;
    /* border: 1px solid red; */
    box-shadow: 0 6px 50px 0 #00000013;

}
.skill-box img{
   margin-bottom: 30px;
    max-width: 44px;
    /* color: #8CC84B; */

}
.skill-box h4{
    font-size: 20px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
.skill-box p{
    max-width: 201px;
    font-size: 16px;
    color: #757575;
    /* margin-top: 20px; */
}

#resume{
    margin-top: 130px;
}
.section-heading{
    font-weight: bold;
    font-size: 35px;
    color: #181818;

}
.resume-container{
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 50px;
    display: flex;
    gap: 24px;
}
.resume-container hr{
    margin: 30px 0;
}
   .edx{
    max-width: 218px;
    /* font-weight: bold; */
    font-size: 29px;
    color: #474747;
    margin-bottom: 30px;
}
.text-center{
    text-align: center;
}
footer {
    margin-top: 112px;
    padding: 130px 0;
    background-color: #FFF8F3;
}
footer .footer-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 117px;
}
.footer-container h2{
    font-size: 35px;
    color: #181818;
    margin-bottom: 20px;
}
.footer-container .social{
  max-width: 562px;
}
.social p{
    font-size: 16px;
    line-height: 30px;
    color: #474747;
     margin-bottom: 30px;
    

}
.social .footer-img{
    max-width: 150 px;
   
}
.footer-img a{
 margin-right: 24px;
}
 /* .form .contact-form { */
    
    /* width: 461px; */
    

.footer-container .contact-form input[type="text"]{
    width: 461px;
    margin-bottom: 24px;
    padding: 18px 30px;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
}
.footer-container .contact-form textarea{
    
 width: 461px;
    margin-bottom: 24px;
    padding: 18px 365px 134px 30px;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;

}